<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jj.stu.attendance.dao.mapper.LeaveMapper">
    <resultMap id="BaseResultMap" type="com.jj.stu.attendance.dao.model.Leave">
        <!--@mbg.generated-->
        <!--@Table s_leave-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="student_id" jdbcType="INTEGER" property="studentId"/>
        <result column="info" jdbcType="VARCHAR" property="info"/>
        <result column="status" jdbcType="BOOLEAN" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        student_id,
        info,
        `status`,
        remark,
        create_date
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from s_leave
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from s_leave
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jj.stu.attendance.dao.model.Leave"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into s_leave (student_id, info, `status`,
        remark, create_date)
        values (#{studentId,jdbcType=INTEGER}, #{info,jdbcType=VARCHAR}, #{status,jdbcType=BOOLEAN},
        #{remark,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jj.stu.attendance.dao.model.Leave"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into s_leave
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null">
                student_id,
            </if>
            <if test="info != null">
                info,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null">
                #{studentId,jdbcType=INTEGER},
            </if>
            <if test="info != null">
                #{info,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=BOOLEAN},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jj.stu.attendance.dao.model.Leave">
        <!--@mbg.generated-->
        update s_leave
        <set>
            <if test="studentId != null">
                student_id = #{studentId,jdbcType=INTEGER},
            </if>
            <if test="info != null">
                info = #{info,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=BOOLEAN},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jj.stu.attendance.dao.model.Leave">
        <!--@mbg.generated-->
        update s_leave
        set student_id = #{studentId,jdbcType=INTEGER},
        info = #{info,jdbcType=VARCHAR},
        `status` = #{status,jdbcType=BOOLEAN},
        remark = #{remark,jdbcType=VARCHAR},
        create_date = #{createDate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>