<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jj.stu.attendance.dao.mapper.LinkMapper">
  <resultMap id="BaseResultMap" type="com.jj.stu.attendance.dao.model.Link">
    <!--@mbg.generated-->
    <!--@Table s_link-->
    <id column="link_id" jdbcType="INTEGER" property="linkId" />
    <result column="link_type" jdbcType="TINYINT" property="linkType" />
    <result column="link_name" jdbcType="VARCHAR" property="linkName" />
    <result column="link_url" jdbcType="VARCHAR" property="linkUrl" />
    <result column="link_description" jdbcType="VARCHAR" property="linkDescription" />
    <result column="link_rank" jdbcType="INTEGER" property="linkRank" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    link_id, link_type, link_name, link_url, link_description, link_rank, is_deleted, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from s_link
    where link_id = #{linkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from s_link
    where link_id = #{linkId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="link_id" keyProperty="linkId" parameterType="com.jj.stu.attendance.dao.model.Link" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into s_link (link_type, link_name, link_url, 
      link_description, link_rank, is_deleted, 
      create_time)
    values (#{linkType,jdbcType=TINYINT}, #{linkName,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, 
      #{linkDescription,jdbcType=VARCHAR}, #{linkRank,jdbcType=INTEGER}, #{isDeleted,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="link_id" keyProperty="linkId" parameterType="com.jj.stu.attendance.dao.model.Link" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into s_link
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="linkType != null">
        link_type,
      </if>
      <if test="linkName != null">
        link_name,
      </if>
      <if test="linkUrl != null">
        link_url,
      </if>
      <if test="linkDescription != null">
        link_description,
      </if>
      <if test="linkRank != null">
        link_rank,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="linkType != null">
        #{linkType,jdbcType=TINYINT},
      </if>
      <if test="linkName != null">
        #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null">
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="linkDescription != null">
        #{linkDescription,jdbcType=VARCHAR},
      </if>
      <if test="linkRank != null">
        #{linkRank,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jj.stu.attendance.dao.model.Link">
    <!--@mbg.generated-->
    update s_link
    <set>
      <if test="linkType != null">
        link_type = #{linkType,jdbcType=TINYINT},
      </if>
      <if test="linkName != null">
        link_name = #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null">
        link_url = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="linkDescription != null">
        link_description = #{linkDescription,jdbcType=VARCHAR},
      </if>
      <if test="linkRank != null">
        link_rank = #{linkRank,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where link_id = #{linkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jj.stu.attendance.dao.model.Link">
    <!--@mbg.generated-->
    update s_link
    set link_type = #{linkType,jdbcType=TINYINT},
      link_name = #{linkName,jdbcType=VARCHAR},
      link_url = #{linkUrl,jdbcType=VARCHAR},
      link_description = #{linkDescription,jdbcType=VARCHAR},
      link_rank = #{linkRank,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where link_id = #{linkId,jdbcType=INTEGER}
  </update>
</mapper>